<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
</head>
<body>
<p><a href="/">返回主页</a></p>
{% if showorder!=True %}
        <form action="/myorder" method="post">
     {% if loginmessage %}
        <p style="color:red">{{ loginmessage }}</p>
     {% endif %}
    {% if showorder!=True %}
        <legend>请输入用户名和密码,以查看或退订您的订单</legend>
        <p><input name="usernamelogin" placeholder="Username" value="{{ loginusername }}"></p>
        <p><input name="passwordlogin" placeholder="Password" type="password"></p>
        <p><button type="submit">OK</button></p>
    {% endif %}
        </form>
{% endif %}
{% if showorder %}
     <p>您好,{{ loginusername }},您的订单情况如下</p>
     <form action="/tuipiao" method="post">
     <table border="0">
     <tr>
        <td>车次号</td><td>订单号</td><td>发车时间</td><td>座位号</td><td>票价</td>
    </tr>
      {% for order in orders %}
     <tr>
        <td>{{ order[0] }}</td><td>{{ order[2] }}</td><td>{{ order[3] }}</td><td>{{ order[4] }}</td><td>{{ order[5] }}</td><td><input type="radio" name="order" value=["{{ order[2] }}","{{ loginusername }}"] checked>选择</td>
     </tr>
      {% endfor %}
     </table>
     <input type="submit" value="退票">
       </form>
     {% if orderid %}
    <p style="color:red">订单{{ orderid }}退票成功</p>
    {% endif %}
{% endif %}

</body>
</html>